header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  text-align: center;
  box-sizing: border-box;
  padding: 1.25rem 2.5rem;
  z-index: 10;
}

header .title h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.5rem;
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header > img {
  transition: box-shadow 0.4s;
  cursor: pointer;
}

header > img:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

header a img {
  transition: transform 0.3s;
}

header a img:hover {
  transform: translateY(-5px);
  filter: brightness(1.5);
}